.h1Title {
  font-size: 4rem;
  font-weight: 400;
  text-align: center;
  line-height: 74px;
  color: #686868;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.1em;
  padding-top: 50px;
}

.h2Title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 46px;
  text-align: center;
  color: #686868;
  letter-spacing: 0.1em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.introduce {
  // background-image: url(../../assets/OUT_TEAMS_1.png);
  height: 700px;
}