.slick-dots li {
  width: 80px !important;
  border-radius: 80px !important;
  list-style: none;
  background-color: #dbe7ff;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  // font-family: none;
  color: unset;
}

li.slick-active {
  background: #204ea5;
}

.ExperienceCard {
  display: flex;
  align-items: center;
  justify-content: center;


  .card {
    min-height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 24rem;
    margin: 1.5rem 1rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}