section {
  width: 1600px;
  margin: 80px auto;
}

h1 {
  font-size: 50px;
  font-weight: 700;
}
h2 {
  font-size: 50px;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
}
h5 {
  font-size: 1rem;
}

p {
  font-size: 2rem;
  font-weight: 400;
}

.under-line {
  text-decoration: underline;
}

figure {
  margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
  section {
    width: 1320px;
  }
}
